.prensa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: auto;
    margin: 80px auto;
    background-color: #1d1d1de1;
    border-radius: 25px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.923);
    color: white;
    padding: 20px;
    transition: all 0.3s ease;

    h2 {
        padding: 10px 0;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 2px solid #fff;
    }

    .slider {
        display: flex;
        overflow: hidden;
        position: relative;
        transition: transform 0.5s ease;

        .slide {
            min-width: 100%;
            opacity: 0; 
            transition: opacity 0.5s ease-in-out; 
            position: absolute;
            left: 0;
            top: 0;

            img {
                width: 100%;
                height: auto;
                border-radius: 15px;
                transition: opacity 0.5s ease-in-out;
            }
        }

        .slide:first-child {
            opacity: 1; 
        }
    }

    &:hover .slider {
        transform: translateX(-100%); 
    }

    &:hover .slide {
        opacity: 1;
    }

    .prensa2 {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 15px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
    }

    .boton3 {
        padding: 10px 20px;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-family: 'Inconsolata', monospace;
        cursor: pointer;
        margin-top: 20px;
        display: inline-block;

        &:hover {
            background-color: #0056b3;
        }
    }

    @include media-up(tl) {
        width: 560px;

        .prensa2 {
            width: 100%;
            padding: 20px;

            img {
                border-radius: 20px;
            }
        }
    }

    @include media-up(lg) {
        width: 760px;

        .prensa2 {
            width: 100%;
            padding: 20px;

            img {
                border-radius: 25px;
            }
        }
    }
}

.prensa1:hover {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}
